
<form id="update_asn_form" method="POST" action="/asn/asn_dtl">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">ASN Detail</h3>
            </div>
            {{#each ASN_hdr}}
             <div id="search_div">
              <div class="row">
                  <div class="col-12 col-md-2">
                    <div class="form-group">
                      <label class="control-sidebar-subheading">
                        ASN No.
                      </label>
                      <input type="hidden" name="ASNNo" value="{{ASNNo}}" class="form-control req">
                      <input type="hidden" name="UUID" value="{{UUID}}" class="form-control req">
                      <input type="text" value="{{ASNNo}}" class="form-control" disabled>
                    </div>
                  </div>
                  <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                      Shipment No.
                    </label>
                    <input type="text" autocomplete="off" name="ShipmentNo" value="{{ShipmentNo}}" class="form-control req" {{#compareor Status "Closed,Confirmed,Cancelled"}}readonly{{/compareor}}>
                  </div>
                </div>
                

                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                      Transaction Type
                    </label>
                    {{#compareor Status "Fresh,Under Amendment"}}
                    <select  class="form-control req" name="TransactionType">
                      <option {{#compare TransactionType "PO" }} selected {{/compare}}>PO</option>
                      <option {{#compare TransactionType "STO" }} selected {{/compare}}>STO</option>
                      <option {{#compare TransactionType "Return" }} selected {{/compare}}>Return</option>
                      <option {{#compare TransactionType "W2W" }} selected {{/compare}}>W2W</option>
                      <option {{#compare TransactionType "Others" }} selected {{/compare}}>Others</option>
                    </select>
                    {{else}}
                    <input type="text"  class="form-control req" value="{{TransactionType}}" readonly>
                    {{/compareor}}
                  </div>
                </div>

                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Customer Code
                    </label>
                    <input type="text" autocomplete="off" name="CustomerCode" value="{{CustomerCode}}" class="form-control req getCustomerCodeBtn" {{#compareor Status "Fresh,Under Amendment"}}data-toggle="modal"{{/compareor}} id="inp_customerCode" data-target="#customerCodeModal" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                      Date Created
                    </label>
                    <input type="text" autocomplete="off" value="{{dateFormat ASNDateTime  "YYYY-MM-DD  h:mm A"}}" class="form-control req" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                      Status
                    </label>
                    <input type="text" disabled value="{{Status}}" class="form-control">
                  </div>
                </div>
              </div><!--end of row-->
            </div>

            
    

 <div class="row" style="padding:20px;">
    <div class="col-12 col-md-12" >
      {{#compareor Status "Fresh,Under Amendment"}}
      <button id="add_row_edit_item" style="display: none" class="btn btn-primary">Add Item</button> 
      
        <table class="table table-bordered table-pagination" id="asn_edit_item_tbl">
            <thead>
                <tr>
                    <th data-field="id" >Item Code</th>
                    <th data-field="itemDescription">Item Description</th>
                    <th data-field="SerialNo">Serial No</th>
                    <th data-field="Batch">Batch</th>
                    <th data-field="ops" data-events="operateEvents"></th>
                </tr>
            </thead>
            {{#each tbl_asn_details}}
            <tr>
                <td><input type="hidden" name="ID_dm[]" value="{{ID}}" id="ID_sh_{{ID}}" data-id="{{ID}}" class="form-control req"><input type="hidden" name="OrderUOM_dm[]" value="{{OrderUOM}}" class="form-control req"><input type="hidden" name="OrderQty_dm[]" value="{{OrderQty}}" class="form-control req"><input type="text" name="ItemCode_dm[]" value="{{ItemCode}}" class="form-control getItemCodeBtn req" data-toggle="modal" id="inp_ItemCode_{{inc @index}}" data-target="#itemCodeModal" readonly required req></td>
                <td class="ItemDesc" id="ItemDesc_{{inc @index}}">{{tbl_item_master.ItemDescription}}</td>
                <td><input type="text" name="SerialNo_dm[]" value="{{SerialNo}}" class="form-control " required></td>
                <td>
                  <select name="Batch_dm[]" class="form-control " >
                    <option></option>
                    <option {{#compare Batch "Green"}}
                            selected
                            {{/compare}}>Green</option>
                    <option {{#compare Batch "Pink"}}
                            selected
                            {{/compare}}>Pink</option>
                    <option {{#compare Batch "Yellow"}}
                            selected
                            {{/compare}}>Yellow</option>
                    <option {{#compare Batch "Orange"}}
                            selected
                            {{/compare}}>Orange</option>
                    <option {{#compare Batch "No Batch"}}
                            selected
                            {{/compare}}>No Batch</option>
                  </select>
                </td>
                <td ><a class="remove" href="javascript:void(0)" title="Remove"><i class="fa fa-fw fa-times" style="color:red;float:right;margin-top:-10px;"></i></a></td>
            </tr>
            <div style="display:none">
              <input type="text" value="{{ItemCode}}" name="ItemCode[]" id="ItemCode_hid_{{ID}}">
              <input type="text" value="{{ID}}" name="ID[]" id="ID_hid_{{ID}}">
              <input type="text" value="{{SerialNo}}" name="SerialNo[]" id="SerialNo_hid_{{ID}}">
              <input type="text" value="{{Batch}}" name="Batch[]" id="Batch_hid_{{ID}}">
              <input type="text" value="{{OrderUOM}}" name="OrderUOM[]" id="OrderUOM_hid_{{ID}}">
              <input type="text" value="{{OrderQty}}" name="OrderQty[]" id="OrderQty_hid_{{ID}}">
            </div>
            {{/each}}
        </table>
        {{else}}<!--else not fresh or under amendment-->
        <table class="table table-bordered table-pagination" id="asn_edit_item_tbl">
            <thead>
                <tr>
                    <th data-field="id" >Item Code</th>
                    <th data-field="itemDescription">Item Description</th>
                    <th data-field="SerialNo">Serial No</th>
                    <th data-field="Batch">Batch</th>
                </tr>
            </thead>
            {{#each tbl_asn_details}}
            <tr>
                <td>{{ItemCode}}</td>
                <td>{{tbl_item_master.ItemDescription}}</td>
                <td>{{SerialNo}}</td>
                <td>
                  {{Batch}}
                </td>
                
            </tr>
            {{/each}}
        </table>
        {{/compareor}}
        <input type="hidden" name="submit_action" id="submit_action" value="Amend">  
    {{#compare Status "Fresh"}}
         <input type="submit" class="btn btn-warning submit_btn" value="Confirm"> 
         <input type="submit" class="btn btn-danger submit_btn" value="Cancel">
         <input type="submit" class="btn btn-success submit_btn pull-right" value="Confirm and Create Goods Receipt">
    {{/compare}}
    {{#compare Status "Under Amendment"}}
         <input type="submit" class="btn btn-warning submit_btn" value="Confirm"> 
         <input type="submit" class="btn btn-success submit_btn pull-right" value="Confirm and Create Goods Receipt">
    {{/compare}}
    {{#compare Status "Confirmed"}}
    <input type="submit" class="btn btn-secondary submit_btn" value="Amend">
    <input type="submit" class="btn btn-success submit_btn pull-right" value="Confirm and Create Goods Receipt">
    {{/compare}}
    </div>
</div>
<br/>
{{/each}}
</form>