
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Create Putaway</h3>
            </div>
             <div id="search_div">
               <form method="get" action="/putaway/create" id="filter_putaway_create">
              <h4 class="filter-title">Filter</h4>
              <div class="row">
                  <div class="col-12 col-md-2">
                    <div class="form-group">
                      <label class="control-sidebar-subheading">
                        ASN No.
                      </label>
                      <input type="text" autocomplete="off" class="form-control" name="ASNNo" value="{{ASNNo_inp}}">
                    </div>
                  </div>
                  <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                      Shipment No.
                    </label>
                    <input type="text" autocomplete="off" class="form-control" name="ShipmentNo" value="{{ShipmentNo_inp}}">
                  </div>
                </div>
                
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                      Date From
                    </label>
                    <input type="date" class="form-control" name="paramDate1" value="{{paramdate1_inp}}">
                  </div>
                </div>

                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                      Date to
                    </label>
                    <input type="date" class="form-control" name="paramDate2" value="{{paramDate2_inp}}">
                    <input type="hidden" name="Status_inp" class="form-control" id="Status_inp" value="{{Status_inp}}">
                  </div>
                </div>
                
                
              </div><!--end of row-->
              <div class="row">
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <button type="submit" class="btn btn-success btn-sm"  >
                      <span class="glyphicon glyphicon-search" aria-hidden="true"> </span> Search
                    </button>
                  </div>
                </div>
              </form>
              </div><!--end of row-->
                
              
            </div>
             
            
            <!-- /.box-header -->
            <div class="box-body">
              <table  class="table table-bordered table-hover table-responsive table-pagination" style="margin-top: 20px;">
                <thead>
                <tr>
                  <th data-sortable="true">GR No</th>
                  <th data-sortable="true">ASN No</th>
                  <th data-sortable="true">Assigned Employee</th>
                  <th data-sortable="true">ShipmentNo</th>
                  <th data-sortable="true">From</th>
                  <th data-sortable="true">To</th>
                  <th data-sortable="true">GR Date</th>
                  <th data-sortable="true">Status</th>
                </tr>
                </thead>
                <tbody>
                {{#each GR_hdr}}
                    <tr>
                      <td><a href="/gr/gr_dtl?GRNo={{GRNo}}">{{GRNo}}</a></td>
                      <td>{{ASNNo}}</td>
                      <td>{{AssignEmployee}}</td>
                      <td>{{ShipmentNo}}</td>
                      <td>{{#if DateTimeFrom}}{{dateFormat DateTimeFrom  "YYYY-MM-DD  h:mm A"}}{{/if}}</td>
                      <td>{{#if DateTimeTo}}{{dateFormat DateTimeTo  "YYYY-MM-DD  h:mm A"}}{{/if}}</td>
                      <td>{{dateFormat CreatedDateTime  "YYYY-MM-DD  h:mm A"}}</td>   
                      <td>{{Status}}</td>                       
                    </tr>
                  {{else}}
                {{/each}}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


