
<form id="update_asn_form" method="POST" action="/asn/asn_dtl">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">ASN Detail</h3>
            </div>
            {{#each ASN_hdr}}
             <div id="search_div">
              <div class="row">
                  <div class="col-12 col-md-2">
                    <div class="form-group">
                      <label class="control-sidebar-subheading">
                        ASN No.
                      </label>
                      <input type="hidden" name="ASNNo" value="{{ASNNo}}" class="form-control">
                      <input type="hidden" name="GRNo" value="{{GRNo}}" class="form-control">
                      <input type="text" autocomplete="off" value="{{ASNNo}}" class="form-control" disabled>
                    </div>
                  </div>
                  <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                      Primary Ref Doc.
                    </label>
                    <input type="text" autocomplete="off" name="ASNPrimaryRefDocNo" value="{{ASNPrimaryRefDocNo}}" class="form-control">
                  </div>
                </div>
                

                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                      Transaction Type
                    </label>
                    <select  class="form-control" name="TransactionType" class="form-control">
                      <option >PO</option>
                      <option >STO</option>
                      <option >Return</option>
                      <option >Others</option>
                    </select>
                  </div>
                </div>

                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Customer Code
                    </label>
                    <input type="text" autocomplete="off" name="CustomerCode" value="{{CustomerCode}}" class="form-control">
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                      Date Created
                    </label>
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                      Status
                    </label>
                    <input type="text" disabled value="{{Status}}" class="form-control">
                    
                  </div>
                </div>
              </div><!--end of row-->
                
              
            </div>

            
    

 <div class="row" style="padding:20px;">
    <div class="col-12 col-md-12" >
      <button id="add_row_edit_item" class="btn btn-primary">Add Item</button> 
        <table class="table table-bordered" id="asn_edit_item_tbl">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ASN No</th>
                    <th>Item Code</th>
                    <th>UOM</th>
                    <th>QTY</th>
                    <th>Serial No</th>
                    <th>Batch</th>
                </tr>
            </thead>
            {{#each tbl_asn_details}}
            <tr>
                <td><input type="text" value="{{ID}}" class="form-control" disabled><input type="hidden" name="ID" value="{{ID}}" class="form-control"></td>
                <td><input type="text" value="{{ASNNo}}" name="ASNNo[]" class="form-control" disabled></td>
                <td><input type="text" name="ItemCode[]" value="{{ItemCode}}" class="form-control" required></td>
                <td><select name="OrderUOM[]" class="form-control" required><option>PC</option></select></td>
                <td><input type="number" name="OrderQty[]" value="{{OrderQty}}" class="form-control" required></td>
                <td><input type="text" name="SerialNo[]" value="{{SerialNo}}" class="form-control" required></td>
                <td><select name="Batch[]" class="form-control"  required><option>Green</option><option>Red</option><option>Orange</option><option>No Batch</option></select></td>
                <td><button class="btn btn-xs btn-danger item_remove_btn">x</button></td>
            </tr>
            {{/each}}
        </table>
        <input type="hidden" name="submit_action" id="submit_action" value="Amend">  
    <input type="submit" class="btn btn-secondary submit_btn" value="Ammend">
    <input type="submit" class="btn btn-warning submit_btn" value="Confirm"> 
    <input type="submit" class="btn btn-danger submit_btn" value="Cancel">
    <input type="submit" class="btn btn-success submit_btn pull-right" value="Confirm and Create Goods Receipt">
    </div>
    
    
</div>
    
<br />
{{/each}}
</form>



<!--customercode modal-->
<div class="modal fade" id="customerCodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="/asn/post_upload" method="post" enctype="multipart/form-data">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">UPLOAD ASN</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <div class="input-group">
            <label for="date">Upload ASN</label>
            <input type="file" name="upload_asn" class="form-control" placeholder="Date">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </div>
    </form>
  </div>
</div>
<!--/customercode modal-->